*{
    box-sizing: border-box;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .row { display: inline-block; }
  /* start commented backslash hack \*/
  * html .row { height: 1%; }
  .row { display: block; }
  /* close commented backslash hack */

.content{
    width: 76%;
    height: 100%;
    border: solid 4px black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(214, 162, 49, 0.692);
    float: left ;
    float: right ;
    border-top: 0;
}

body{
   
    margin: 0;
    
   }

.img_het{
    width: 100%;
    border-bottom: solid black 2px;
    background-color: black;
    border-bottom: 0;
}

.data_text{
    font-size: 11px;
    margin: 0;
    background-color: rgba(214, 162, 49, 0.692);
}

.sidebar{
    width: 12%;
    height: 100%;
    background-color: rgba(218, 167, 57, 0.466);
    float: left ;
    border: solid 4px black;
    border-right: 0;
    border-top: 0;
    border-left: solid 4px black;
}

.sidebar2{
    width: 12%;
    height: 100%;
    background-color: rgba(218, 167, 57, 0.466);
    float: right ;
    border: solid 4px black;
    border-left: 0;
    border-top: 0;
}

.header{
    background-color: black;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: rgba(63, 63, 63, 0.808);
    border: solid 4px black;
    border-top: 0;
    font-size: 20px;
    
}

.zbornik{
    font-size: 50px;
    margin-top: 20px;
}

.page{
    text-align:center;
    font-size: 25px;
}

.page1{
    display: block;
    text-align:center;
    text-decoration: none; 
    font-size: 25px;
   }

.text{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 20px;
    
}

.moral{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.mani{
    position: absolute;
    padding-left: 30%;
    padding-right: 30%;
    text-align:center;
    font-size: 15px;
}

.cesh{
    color: rgb(60, 15, 97);
}

.sidebar_fan{
    margin-top: 5%;
    width: 90%;
    height: 20%;
    border: solid 3px black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 2px;
}

.img_kidalovoX{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    
}

.pleing{
    display: block;
    text-align:center;
    text-decoration: none; 
    color: rgb(27, 93, 148);
}

.img_bomj{
    width: 100%;
    height: 62%;
    border-radius: 10px;
    padding: 2%;
}

.bomj_news{
    margin: 0;
    display: block;
    text-align:center;
}

.bomj_text{
    margin: 0;
    text-align:center;
    font-size: 12px;
    
}
.bomj_video{
    margin: 0;
    display: block;
    text-align:center;
    text-decoration: none; 
    font-size: 12px; 
}
.hr{
    margin: 0;
}

.img_reklama{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img_vania_mem{
    width: 100%;
    height: 90%;
    border-radius: 10px;
    padding: 2%;
}

.mem{
    margin: 0;
    text-align:center;
    font-size: 18px;
}

.mp4_kaktus{
    width: 100%;
    height: 85%;
    border-radius: 10px;
    padding: 2%;
}

.infa{
    width: 100%;
    height: 85%;  
    border-radius: 10px;
    padding: 2%;
}

.infa_text{
    margin: 0;
    text-align:center;
    font-size: 16px;
}

.vanyaNiger{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5%;
}

.table{
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

th{
    background-color: rgba(231, 247, 95, 0.822);
}
.l{
    margin: 0;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none; 
}

